.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.card-container .country-card{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 240px;
    height: 270px;
}
.card-container .country-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.sort-icon{
    background: none;
    border: none;
    cursor: pointer;
}
.sort-icon img{
    width: 20px;
    height: 20px;
}